// src/css/quasar.variables.scss

$primary: #ff8c00;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #ff3333;
$info: #31ccec;
$warning: #f2c037;
